rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      // TODO: lock down with auth later
      allow read, write: if true;
    }
  }
}
